<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Deadtunes</title>

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#253e5f">
        <meta name="apple-mobile-web-app-title" content="Deadtunes">
        <meta name="application-name" content="Deadtunes">
        <meta name="theme-color" content="#ffffff">
        
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="style/normalize.css">
        <link rel="stylesheet" type="text/css" href="style/autoprefixed/style.css">
        <link href="https://fonts.googleapis.com/css?family=Inconsolata:700|Open+Sans" rel="stylesheet">

        <!-- Place favicon.ico in the root directory -->
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
        <header class='header'>
            <h1><button class='button button__back'>&laquo;</button></h1>
            <h1 class='header__title'>deadtunes.live</h1>
        </header>
        <ul class='list no-margin'></ul>

        <div class='player hidden'>
            <div class='button__wrap'>
                <button class='button button__prev'></button><button class='button button__play'></button><button class='button button__next'></button>
            </div>
            <div class="player__data">

                <div class='player__data__setting'>
                    <span class="player__title"></span>
                    <span class="player__date"></span>
                    <span class="player__venue"></span>
                </div>

                <div class='player__data__time'>
                    <span class="player__elapsed"></span>/<span class="player__duration"></span>
                </div>

                <div class="player__bar">
                    <div class="player__progress"></div>
                </div>

            </div> <!-- .player__data -->
        </div>

        <audio autoplay src='#'></audio>

        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="scripts/vendor/jquery-3.2.1.min.js"><\/script>')</script>

        <script src='scripts/babeled/polyfill.min.js'></script>
        <script src='scripts/babeled/DeadEvent.js'></script>
        <script src='scripts/babeled/DeadModel.js'></script>
        <script src='scripts/babeled/DeadView.js'></script>
        <script src='scripts/babeled/DeadController.js'></script>
        <script src='scripts/dead.js'></script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-105812256-2"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-105812256-2');
        </script>

    </body>
</html>